<!DOCTYPE html>
    <html>
        <head>
          <title>Ev1lcap Castle - Блог Егора Топольняка</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
          <meta name="description" content="Излагаю свои мысли, четко и ясно.">
          <meta name="title" content="Ev1lcap Castle - Блог Егора Топольняка">
          <meta name="google-site-verification" content="x5a4zj9rG6QPkxN2c_V7NUyVFbYlTCRohMcbX2VM4p0" />
          <meta name="fragment" content="!">
          <%= stylesheet_link_tag    'application', media: 'all'%>
          <%= javascript_include_tag 'application'%>
          <%= include_ember_script_tags :frontend %>
          <%= include_ember_stylesheet_tags :frontend %>
          <%= csrf_meta_tags %>
          <%= favicon_link_tag%>
        </head>
    <body>
        <%= yield %>
    </body>
</html>
